@page "/"
@attribute [Authorize]
@rendermode InteractiveServer
@inject IUserService UserService

<PageTitle>داشبورد - قدرا تیک</PageTitle>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">داشبورد</h1>
</div>

@if (currentUser != null)
{
    @switch (currentUser.Role)
    {
        case UserRole.User:
            <UserDashboard />
            break;
        case UserRole.Support:
            <SupportDashboard />
            break;
        case UserRole.Admin:
            <AdminDashboard />
            break;
    }
}
else
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">در حال بارگذاری...</span>
        </div>
    </div>
}

@code {
    private User? currentUser;

    protected override async Task OnInitializedAsync()
    {
        currentUser = await UserService.GetCurrentUserAsync();
    }
}