@page "/"
@attribute [Authorize]
@rendermode InteractiveServer
@inject IUserService UserService

<PageTitle>داشبورد - قدرا تیک</PageTitle>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">داشبورد</h1>
</div>

<AuthorizeView>
    <Authorized>
        @{
            var userRole = context.User.FindFirst(ClaimTypes.Role)?.Value;
        }
        @switch (userRole)
        {
            case "User":
                <UserDashboard />
                break;
            case "Support":
                <SupportDashboard />
                break;
            case "Admin":
                <AdminDashboard />
                break;
            default:
                <div class="alert alert-warning">
                    <h4>خوش آمدید!</h4>
                    <p>نقش کاربری شما تشخیص داده نشد. لطفاً با مدیر سیستم تماس بگیرید.</p>
                </div>
                break;
        }
    </Authorized>
    <NotAuthorized>
        <div class="text-center">
            <h3>به سیستم قدرا تیک خوش آمدید</h3>
            <p>برای استفاده از سیستم لطفاً وارد شوید.</p>
            <a href="/login" class="btn btn-primary">ورود به سیستم</a>
        </div>
    </NotAuthorized>
</AuthorizeView>